.News{
    margin-top: 2vh;
    margin-bottom: 15vh;
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width:700px) {
    .News{
        margin-top: 0.5vh;
        margin-bottom: 10vh;
    }
}