.NewsItem{
    width: 30vw;
    /* background-color: aqua; */
    margin: 1vw 0;
    /* border: 0.1px dotted black; */
    position: relative;
    
}

.btn{
    position: absolute;
    bottom: 0;
}

.link{
    text-decoration: none;
}

@media screen and (max-width: 700px){
    .NewsItem{
        margin: 2vw 0;
        width: 90vw;
    }
}